<body>
  <section class="container">
    <p>Use this page to add any custom code snippets needed for third party tracking, e.g. Google Tag Manager, Google Analytics,
      Facebook Event Manager, etc. This code will be added to the following registration pages:</p>
    <div>
      <strong>Seasons, Camps, Other Events:</strong>
      <li>Event Registration Page (URL: /signup)</li>
      <li>Player Information Page (/players-info)</li>
      <li>Guardian Information Page (/guardian-info)</li>
      <li>Billing Information Page (/payment)</li>
    </div>

    <div>
      <strong>Tournaments:</strong>
      <li>Tournament Registration Page (URL: /signup)</li>
      <li>Tournament Teams Sign Up Page (/signup-teams)</li>
      <li>Billing Information Page (/payment-tourny)</li>
    </div>

    <h2>Header</h2>
    <p>This code will be added in the head section of your site pages.</p>
    <form>
      <textarea class="text-box" name="message" rows="10" cols="30"  [(ngModel)] ="header"></textarea>
    </form>

    <h2>Body</h2>
    <p>This code will be added in the body section updateof your site pages.</p>
    <form>
      <textarea class="text-box" name="message" rows="10" cols="30"  [(ngModel)] ="body" ></textarea>
    </form>

    <h2>Successful Event Registration</h2>
    <p>This code will be triggered after a successful event registration so you can track conversions.</p>
    <form>
      <textarea class="text-box" name="message" rows="10" cols="30"  [(ngModel)] ="registration"></textarea>
      <div>
        <button routerLink="/registration" routerLinkActive="active" (click)= "update()">Update Code</button>
      </div>
    </form>
  </section>
</body>
